<div class="list">
	<div class="add">
		<a href="" ng-click="addTodo()">+ Add a New Task</a>
	</div>
	<div
	  class="item"
	  ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}"
	  ng-init="todo.completed = false"
	  ng-repeat="todo in todos | orderBy: 'completed'">
		<input type="checkbox" ng-model="todo.completed" />
		<span ng-click="todo.completed = !todo.completed; todo.edited = true"></span>
		<label ng-click="editing = true" ng-hide="editing">{{todo.name}}</label>
		<input type="text" class="editing-label" ng-model="todo.name" ng-change="todo.edited = true" ng-show="editing" ng-blur="editing = false;" />
		<div class="actions">
			<a href="" ng-click="saveTodos(todo)">Save</a>
			<a href="" ng-click="deleteTodo(todo, $index)" class="delete">Delete</a>
		</div>
	</div>
</div>